<div class="sidenav" id="mySidenav">

    <div class="sidenavBlock">
        <div class="divider"></div>
        <div class="divider"></div>
        <div class="divider"></div>
        <h1 class="sidenavBlock">2018 Town Hall</h1>
        <h1 id="slogan">"It's Meeting Time!"</h1>
    </div>

    <div class="sidenavBlock">
        <h1 class="sidenavBlockTitle">Menus</h1>

        <img class="nounicons" src="../../../static/images/icons/noun_home.svg" alt="noun">
        <a href="../">Q&A Session</a>
        <div class="divider"></div>

        <img class="nounicons" src="../../../static/images/icons/noun_about.svg" alt="noun">
        <a href="about">About</a>
        <!--<img id="logo_sidebar" src="../../../static/images/logo_pointing.png" alt="noun">-->
    </div>

</div>
