<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Q&A</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Q&A Session</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>
<!--<div class="sidenav" id="mySidenav">-->

<!--<div class="sidenavBlock">-->
<!--<div class="divider"></div>-->
<!--<div class="divider"></div>-->
<!--<div class="divider"></div>-->
<!--<h1 class="sidenavBlock">2018 Town Hall</h1>-->
<!--<h1 id="slogan">"It's Meeting Time!"</h1>-->
<!--</div>-->

<!--<div class="sidenavBlock">-->
<!--<h1 class="sidenavBlockTitle">Menus</h1>-->

<!--<img class="nounicons" src="../../../static/images/icons/noun_home.svg" alt="noun">-->
<!--<a href="../">Q&A Session</a>-->
<!--<div class="divider"></div>-->

<!--<img class="nounicons" src="../../../static/images/icons/noun_about.svg" alt="noun">-->
<!--<a href="about">About</a>-->
<!--&lt;!&ndash;<img id="logo_sidebar" src="../../../static/images/logo_pointing.png" alt="noun">&ndash;&gt;-->
<!--</div>-->

<!--</div>-->
