<!doctype html>
<html lang="en">

{% include './components/_head.html' %}

<body>

{% include './components/navbar.html' %}

<div class="container">

    <div class="row justify-content-center align-items-center p-5">

        <div class="col-12 text-justify">
            <h1 class="text-center pb-4">About</h1>
            <p>
                A good deal of effort has gone into the development of this web
                application, be it directly or indirectly. Credit goes to everyone
                who has helped bring this project into reality.
            </p>
            <p>
                In addition, the development of this web application involved the
                use of several lovely technologies that deserve mentioning.
            </p>
        </div>

        <div class="col-12 text-justify text-center">
            <h1 class="pt-4 pb-3">Credits</h1>
            <h5 class="m-0">Author</h5>
            Othman Alikhan<br>

            <h5 class="pt-4">Beta Testers</h5>
            Abdullah AlAqeel<br>
            Nawaf AlDossary<br>
            Mohammad Tabaib<br>
            Hanan Ali<br>

            <h5 class="pt-4">Languages</h5>
            Python<br>

            <b></b>
            <h5 class="pt-4">Framework</h5>
            Django<br>

            <h5 class="pt-4">Version Control</h5>
            Git/Github<br>

            <h5 class="pt-4">Hosting</h5>
            DigitalOcean<br>

            <h5 class="pt-4">Special Thanks</h5>
            Omar Alikhan<br>
            Yaqeen AlMahdi<br>
        </div>
    </div>
</div>
</body>
</html>
