<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External link (relative) to your main stylesheet -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- External link to Google fonts to be used on this page -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Poiret+One|Rajdhani|Raleway|Teko" rel="stylesheet">

    <!-- External link (relative) to your javascript file -->
    <script src="../../static/js/navbar.js"></script>
</head>

<body>
{% include './components/navbar.html' %}
{% include './components/topbar_about.html' %}

<div id="main" onclick="closeNav()">

    <section>
        <h1 class="subtitle">Development</h1>
        <p>
            A good deal of effort has gone into the development of this web
            application, be it directly or indirectly. Credit goes to everyone
            who has helped bring this project into reality.
        </p>
        <p>
            In addition, the development of this web application involved the
            use of several lovely technologies that deserve mentioning.
        </p>
    </section>

    <section>
        <h1 class="subtitle">Credits </h1>
        <p class="credits">
            <b>Authors</b><br>Othman Alikhan<br>Yaqeen AlMahdi<br><br>

            <b>Icon Distributor</b><br>www.thenounproject.com<br><br>

            <b>Icons</b>
            <br>'Home' by Prime Icons
            <br>'Q&A' by Andrien Coquet
            <br>'About' by Dmitriy Ivanov
            <br>'Hamburger' by Alex Podolsky
            <br>'Liked' by Sophia Bai<br><br>

            <b>Languages</b><br>Python<br>Javascript (Ajax)<br><br>
            <b>Framework</b><br>Django<br><br>
            <b>Version Control</b><br>Git/Github<br><br>
            <b>Hosting</b><br>DigitalOcean<br><br>

            <b>Special Thanks</b><br>Omar Alikhan<br><br>
        </p>
    </section>

</div>
</body>
</html>
