<!doctype html>
<html lang="en">

{% include './components/_head.html' %}

<body>
<div id="container h-100">

    <div class="row h-100 justify-content-center align-items-center">
        <h1 class="subtitle">Development</h1>
        <p>
            A good deal of effort has gone into the development of this web
            application, be it directly or indirectly. Credit goes to everyone
            who has helped bring this project into reality.
        </p>
        <p>
            In addition, the development of this web application involved the
            use of several lovely technologies that deserve mentioning.
        </p>

        <!--<h1 class="subtitle">Credits </h1>-->
        <p class="credits">
            <b>Authors</b><br>Othman Alikhan<br>Yaqeen AlMahdi<br><br>

            <b>Icon Distributor</b><br>www.thenounproject.com<br><br>

            <b>Icons</b>
            <br>'Home' by Prime Icons
            <br>'Q&A' by Andrien Coquet
            <br>'About' by Dmitriy Ivanov
            <br>'Hamburger' by Alex Podolsky
            <br>'Liked' by Sophia Bai<br><br>

            <b>Languages</b><br>Python<br>Javascript (Ajax)<br><br>
            <b>Framework</b><br>Django<br><br>
            <b>Version Control</b><br>Git/Github<br><br>
            <b>Hosting</b><br>DigitalOcean<br><br>

            <b>Special Thanks</b><br>Omar Alikhan<br><br>
        </p>
    </div>

</div>
</body>
</html>
