<!doctype html>
<html lang="en">

{% include './components/_head.html' %}

<body>
<div class="vertical-center">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <form class="col-12" method="POST" action="">
                {% csrf_token %}
                <h1 class="mb-4 text-center">2018<br>Town Hall<br>Meeting!<br></h1>

                {% if error == "credentials" %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Invalid session ID!</strong> Perhaps ask your
                        neighbour for the session ID? Otherwise reload the page (not
                        the back button!) and try again.
                    </div>
                {% endif %}

                <div class="form-group">
                    <input type="text" class="form-control mb-2" name="sessionID" placeholder="Enter Session ID">
                    <input type="submit" class="btn btn-danger w-100" value="Submit!"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
