<!doctype html>
<html lang="en">

{% include './components/_head.html' %}

<body>

{% include './components/navbar.html' %}

<div class="container">

    <!--Introduction section-->
    <div class="row justify-content-center text-justify pl-4 pr-4 pt-5 pb-3">
        <div class="col-12">
            <h1 class="text-center pb-4">Q&A Voting</h1>
            <p>
                <b>Post a Question:</b>
                Enter your question in the box below and post it! Once posted,
                your question will be evaluated so please wait until it appears!
                Only the top 20 questions will appear to prevent clutter.
            </p>
            <p>
                <b>Fetch Questions:</b>
                To fetch the all the questions, press the <i>'Get New Questions!'</i>
                button below!
            </p>
        </div>
    </div>

    <!--Post a question section-->
    <div class="row pl-4 pr-4 pb-4 justify-content-center align-items-center">

        <!---POST form-->
        <form class="col-12 mb-0" method="POST" action="/voting">
            {% csrf_token %}

            {% include './components/messages.html' %}

            <div class="form-group">
                <textarea type="text" class="form-control mb-2" name="body" rows="3"
                          placeholder="My question is that..."></textarea>
                <input type="submit" class="btn btn-danger w-100" value="Post Question!"/>
            </div>
        </form>

        <!---GET form-->
        <form class="col-12" method="GET" action="/voting">
            <button type="submit" class="btn btn-danger w-100" onclick="location.reload()">Get New Questions!</button>
        </form>
    </div>

    <!--All posted questions section-->
    <div id="accordion" class="col-12 p-0 m-0">


        <!--Button to expand all question-->
        <div class="card row">

            <div class="card-header questionsButton" id="heading">
                <h5 class="mb-0">
                    <button class="btn btn-outline-light btn-block" data-toggle="collapse"
                            data-target=".multi-collapse"
                            aria-expanded="false"
                            aria-controls=".multi-collapse">
                        Expand All Fetched Questions
                    </button>
                </h5>
            </div>
        </div>

        {% for q in questions %}
            <div class="card row">

                {% if q.isAnswered %}
                    <!--Button to expand a single question (answered)-->
                    <div class="card-header questionsButton" id="heading{{ q.num }}">
                        <h5 class="mb-0">
                            <button class="btn btn-success btn-block"
                                    data-toggle="collapse"
                                    data-target="#collapse{{ q.num }}"
                                    aria-expanded="false"
                                    aria-controls="collapse{{ q.num }}">
                                Question #{{ q.num }} (Answered)
                            </button>
                        </h5>
                    </div>
                {% else %}
                    <!--Button to expand a single question-->
                    <div class="card-header questionsButton" id="heading{{ q.num }}">
                        <h5 class="mb-0">
                            <button class="btn btn-outline-light btn-block" data-toggle="collapse"
                                    data-target="#collapse{{ q.num }}"
                                    aria-expanded="false"
                                    aria-controls="collapse{{ q.num }}">
                                Question #{{ q.num }}
                            </button>
                        </h5>
                    </div>
                {% endif %}

                <!--Content expanded-->
                <div id="collapse{{ q.num }}" class="collapse multi-collapse" aria-labelledby="heading{{ q.num }}">
                    <div class="card-body btn-light">
                        {{ q.body }}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

</div>
</body>
</html>
