<!doctype html>
<html lang="en">

{% include './components/_head.html' %}


<body onload="setInterval(updateVotes, 5000)">


<div id="container h-100">

    {% include './components/navbar.html' %}

    <!--Introduction section-->
    <div class="row justify-content-center text-justify pl-5 pr-5 pt-5 pb-3">
        <div class="col-12">
            <h1 class="text-center pb-4">Q&A Voting</h1>
            <p>
                <b>Post a Question:</b>
                Enter your question in the box below and post! Once posted, your
                question will be evaluated by our moderators so please wait until
                it appears!
            </p>
            <p>
                <b>Fetch New Questions:</b>
                To fetch the all the questions, press the 'Get New
                Questions!' button below!
            </p>
        </div>
    </div>

    <!--Post a question section-->
    <div class="row h-100 pl-5 pr-5 pb-4 justify-content-center align-items-center">
        <form class="col-12" method="POST" action="/voting">
            {% csrf_token %}
            <div class="form-group">
                <textarea type="text" class="form-control mb-2" name="body" rows="3" placeholder="My question is that..."></textarea>
                <input type="submit" class="btn btn-danger w-100 mb-2" value="Post Question!"/>
                <button type="submit" class="btn btn-danger w-100" href="voting">Get Questions!</button>
            </div>
        </form>
    </div>

    {% for q in questions %}
    <div class="row h-100 pl-5 pr-5 pb-4 justify-content-center align-items-center">
        <div class="inputGroup">
            <button type="submit" class="btn btn-danger w-100 mb-5"> {{ q.fields.body }}</button>
        </div>
    </div>
    {% endfor %}


</div>
</body>
</html>
