<!doctype html>
<html lang="en">

{% include './components/_head.html' %}


<body onload="setInterval(updateVotes, 5000)">


<div id="container h-100">

    {% include './components/navbar.html' %}

    <!--Introduction section-->
    <div class="row justify-content-center text-justify p-5">
        <div class="col-12">
            <h1 class="text-center pb-2">Q&A Voting</h1>
            <p>
                Scroll to the bottom to post a new question. Once posted, your
                question will be evaluated by our moderators so please wait until
                it appears!
            </p>
            <p>
                Otherwise, vote for an existing question by selecting the orange
                button and hitting the vote button.
            </p>
        </div>
    </div>

    <!--Post a question section-->
    <div class="row h-100 pl-5 pr-5 pb-4 justify-content-center align-items-center">
        <form class="col-12" method="POST" action="/new_question">
            {% csrf_token %}
            <div class="form-group">
                <textarea type="text" class="form-control mb-2" name="body" rows="3" placeholder="My question is that..."></textarea>
                <input type="submit" class="btn btn-danger w-100" value="Post Question!"/>
            </div>
        </form>
    </div>

    <!--Vote and Get Questions section-->
    <div class="row pl-5 pr-5 text-center">
        <div class="col-6">
            <button type="submit" class="btn btn-danger w-100">Vote</button>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-danger w-100">Get Questions</button>
        </div>
    </div>

    <!--<form class="form" action="question_voting" method="POST">-->
        <!--{% csrf_token %}-->
        <!--{% for question in questions %}-->
        <!--<div class="inputGroup">-->
            <!--<input id={{question.id}} name="checkbox" type="checkbox" value={{question.id}}>-->
            <!--<label for={{question.id}}>{{question.body |linebreaks}}-->
                <!--&lt;!&ndash; Tag for the AJAX part &ndash;&gt;-->
                <!--<p id={{question.ajaxId}} value={{question.ajaxId}}>{{question.votes}}</p>-->
            <!--</label>-->
            <!--&lt;!&ndash; <label for={{question.id}}>{{question.body |linebreaks}} Votes: {{question.votes |linebreaks}}</p> </label> &ndash;&gt;-->
        <!--</div>-->
        <!--{% endfor %}-->
    <!--</form>-->

</div>
</body>
</html>

