/*!**********************************GLOBAL CSS**********************************!*/

/*!* Reference *!*/
/*ColorPalette {*/
    /*color: #ff7b0f,*/
    /*#ffaa0c,*/
    /*#4e9894,*/
    /*#5e7777,*/
    /*#efe1b8,*/
    /*#77918E;*/
/*}*/

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #9fb8ad 0%, #2cb3c8 30%, #2cb5e8 50%, #0ba248 90%);
    height: 100%;
    width: 100%;
    font-family: 'Cairo', sans-serif !important;
    font-size: 16px;
}

h1 {
    color: #ffffff;
    font-weight: 800;
    font-size: 3em;
    text-shadow: 1px 1px black;
}

div#headingClone {
    background: #343a40 !important;
}
