/*!**********************************GLOBAL CSS**********************************!*/

/*!* Reference *!*/
/*ColorPalette {*/
    /*color: #ff7b0f,*/
    /*#ffaa0c,*/
    /*#4e9894,*/
    /*#5e7777,*/
    /*#efe1b8,*/
    /*#77918E;*/
/*}*/

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #9fb8ad 0%, #2cb3c8 30%, #2cb5e8 50%, #0ba248 90%);
    height: 100%;
    width: 100%;
    font-family: 'Cairo', sans-serif !important;
    font-size: 16px;
}

h1 {
    color: #ffffff;
    font-weight: 800;
    font-size: 3em;
    text-shadow: 1px 1px black;
}



/*<input type="submit" class="btn btn-dark w-100" value="Submit!"/>*/

/*section {*/
    /*!* top right down left*!*/
    /*margin: 25px 25px 0 25px;*/
    /*!* font-family: 'Raleway', sans-serif; *!*/
    /*!* font-family: 'Chakra Petch', sans-serif; *!*/
    /*font-family: 'Teko', sans-serif;*/
    /*!* font-family: 'Rajdhani', sans-serif;*/
    /*font-family: 'Poiret One', cursive; *!*/
/*}*/

/*h1 {*/
    /*font-size: 40px;*/
    /*font-family: 'Teko', sans-serif;*/
    /*text-align: center;*/
    /*line-height: 125%;*/
    /*margin-bottom: 2.5%;*/
/*}*/

/*h1.subtitle{*/
    /*font-size: 44px;*/
    /*font-family: 'Teko', sans-serif;*/
    /*letter-spacing: 1px;*/
    /*font-style: italic;*/
    /*font-weight: 400;*/
    /*color: #ff7b0f;*/
/*}*/

/*h4 {*/
    /*font-size: 14px;*/
    /*font-weight: 900;*/
    /*font-family: 'Rajdhani', sans-serif;*/
    /*text-align: center;*/
/*}*/

/*p {*/
    /*font-size: 18px;*/
    /*font-family: 'Rajdhani', sans-serif;*/
    /*text-align: justify;*/
/*}*/

/*p.credits {*/
    /*text-align: center;*/
/*}*/

/*#main {*/
    /*transition: margin-left .5s;*/
/*}*/

/*#logo {*/
    /*!* size of the image; height scales alone somehow *!*/
    /*width: 200px;*/
    /*!* Following lines center the logo *!*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

/*!******************************NAVIGATION BAR CSS******************************!*/

/*.sidenav {*/
    /*height: 100%;*/
    /*width: 0;*/
    /*position: fixed;*/
    /*z-index: 100;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 50%;*/
    /*background-color: #77918E;*/
    /*overflow-x: hidden;*/
    /*transition: 0.3s;*/
    /*padding-top: 0;*/
    /*border-right: 2px #ff7b0f solid;*/
    /*white-space: nowrap;*/
/*}*/

/*h1.sidenavBlockTitle {*/
    /*color: #ffaa0c;*/
    /*font-size: 18px;*/
    /*font-weight: bold;*/
    /*font-family: 'Rajdhani', sans-serif;*/
    /*!*display: block;*!*/
/*}*/

/*h1.sidenavBlock {*/
    /*font-size: 20px;*/
    /*width: 100%;*/
/*}*/

/*h1#slogan {*/
    /*margin: 0;*/
    /*font-size: 16px;*/
    /*font-weight: 400;*/
/*}*/

/*div.sidenavBlock {*/
    /*border-bottom: 2px #ff7b0f solid;*/
    /*color: #E4E4BE;*/
    /*font-size: 12px;*/
    /*Text-align: left;*/
    /*padding: 5px 0 20px 6px;*/
/*}*/

/*.sidenav a {*/
    /*padding-left: 15px;*/
    /*padding-top: 12px;*/
    /*text-decoration: none;*/
    /*font-size: 18px;*/
    /*color: #E4E4BE;*/
    /*font-family: 'Rajdhani', sans-serif;*/
    /*transition: 0.3s;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
/*}*/

/*.sidenav a:hover {*/
    /*color: #ffaa0c;*/
/*}*/

/*.sidenav .closeButton {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 5px;*/
    /*padding-top: 0;*/
    /*padding-left: 0;*/
    /*margin-left: 0;*/
    /*font-size: 36px;*/
/*}*/

/*.divider {*/
    /*width: auto;*/
    /*height: 8px;*/
/*}*/

/*#logo_sidebar {*/
    /*width: 50px;*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*padding-right: 20px;*/
    /*vertical-align: middle;*/
/*}*/

/*img.nounicons {*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
/*}*/

/*!*********************************TOP BAR CSS**********************************!*/

/*#topBar {*/
    /*background-color: #77918E;*/
    /*color: #E4E4BE;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    /*padding-left: 10px;*/
/*}*/

/*#openButton {*/
    /*width: 30px;*/
    /*display: inline-block;*/
    /*padding: 10px 10px 10px 10px;*/
    /*cursor: pointer;*/
    /*vertical-align: middle;*/
/*}*/

/*h2.topnav {*/
    /*font-size: 25px;*/
    /*font-family: 'Teko', sans-serif;*/
    /*font-weight: 400;*/
    /*position: absolute;*/
    /*text-align: center;*/
    /*right: 10px;*/
    /*top: 20px;*/
    /*margin: 0 0 0 0;*/
/*}*/

/*!* When navbar menu is not expanded *!*/
/*@media screen and (max-width: 600px) {*/
    /*.topnav a:not(:first-child) {*/
        /*display: none;*/
    /*}*/

    /*!*:not(#toplink)*!*/
    /*.topnav a.icon {*/
        /*float: left;*/
        /*display: inline;*/
    /*}*/
/*}*/

/*!* When navbar menu is expanded *!*/
/*@media screen and (max-width: 600px) {*/
    /*.topnav.responsive {*/
        /*position: relative;*/
    /*}*/

    /*.topnav.responsive .icon {*/
        /*float: left;*/
    /*}*/

    /*.topnav.responsive a {*/
        /*float: none;*/
        /*display: block;*/
    /*}*/
/*}*/

/*!*******************************SPLASH PAGE CSS********************************!*/

/*h1.splash_title {*/
    /*font-size: 50px;*/
    /*color: #ffffff;*/
    /*text-shadow: 1px 1px black;*/
/*}*/

/*body#splash_body {*/
    /*height: 100%;*/
    /*background-image: linear-gradient(to top right, #83c041, #00abe3);*/
/*}*/

