/**********************************GLOBAL CSS**********************************/

html {
    height: auto;
    min-height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #9fb8ad 0%, #2cb3c8 30%, #2cb5e8 50%, #0ba248 90%);
    height: 100%;
    width: 100%;
    font-family: 'Cairo', sans-serif !important;
    font-size: 16px;
}

h1 {
    color: #ffffff;
    font-weight: 800;
    font-size: 3em;
    text-shadow: 1px 1px black;
}

div.questionsButton {
    background: #343a40 !important;
    width: 100%;
}

/* Used to align splash page */
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}