/* Just for reference */
ColorPalette {
    color: #ff7b0f,
           #ffaa0c,
           #4e9894,
           #5e7777,
           #efe1b8,
           #77918E;
}


/**********************************GLOBAL CSS**********************************/

html {
    height: 500px;
    font-family: 'Lora', sans-serif;
    width: 100%;
}

body {
    background-color: #E4E4BE;
    /* top right down left*/
    margin: 0 0 50px 0;
    transition: background-color .5s;
}

section {
    /* top right down left*/
    margin: 25px 25px 0 25px;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Teko', sans-serif;
    /* font-family: 'Rajdhani', sans-serif;
    font-family: 'Poiret One', cursive; */
}

h1 {
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    line-height: 125%;
    margin-bottom: 2.5%;
}

h1.subtitle{
    font-size: 44px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 400;
    color: #ff7b0f;
}

h4 {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

p {
    font-size: 18px;
    font-family: 'Rajdhani', sans-serif;
    text-align: justify;
}

p.credits {
    text-align: center;
}

ol, ul {
    font-size: 18px;
    font-family: 'Rajdhani', sans-serif;
    text-align: justify;
}

#main {
    transition: margin-left .5s;
}

#logo {
    /* size of the image; height scales alone somehow */
    width: 200px;
    /* Following lines center the logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/******************************NAVIGATION BAR CSS******************************/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 50%;
    background-color: #77918E;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 0;
    border-right: 2px #ff7b0f solid;
    white-space: nowrap;
}

h1.sidenavBlockTitle {
    color: #ffaa0c;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    /*display: block;*/
}

h1.sidenavBlock {
    font-size: 20px;
    width: 100%;
}

h1#slogan {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

div.sidenavBlock {
    border-bottom: 2px #ff7b0f solid;
    color: #E4E4BE;
    font-size: 12px;
    Text-align: left;
    padding: 5px 0 20px 6px;
}

.sidenav a {
    padding-left: 15px;
    padding-top: 12px;
    text-decoration: none;
    font-size: 18px;
    color: #E4E4BE;
    font-family: 'Rajdhani', sans-serif;
    transition: 0.3s;
    display: inline-block;
    vertical-align: middle;
}

.sidenav a:hover {
    color: #ffaa0c;
}

.sidenav .closeButton {
    position: absolute;
    top: 0;
    right: 5px;
    padding-top: 0;
    padding-left: 0;
    margin-left: 0;
    font-size: 36px;
}

.divider {
    width: auto;
    height: 8px;
}

#logo_sidebar {
    width: 50px;
    display: block;
    margin-left: auto;
    padding-right: 20px;
    vertical-align: middle;
}

img.nounicons {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

/*********************************TOP BAR CSS**********************************/

#topBar {
    background-color: #77918E;
    color: #E4E4BE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#openButton {
    width: 30px;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    vertical-align: middle;
}

h2.topnav {
    font-size: 25px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    position: absolute;
    text-align: center;
    right: 10px;
    top: 20px;
    margin: 0 0 0 0;
}

/* When navbar menu is not expanded */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    /*:not(#toplink)*/
    .topnav a.icon {
        float: left;
        display: inline;
    }
}

/* When navbar menu is expanded */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        float: left;
    }

    .topnav.responsive a {
        float: none;
        display: block;
    }
}

/*******************************SPLASH PAGE CSS********************************/

h1.splash_title {
    font-size: 50px;
    color: #efe1b8;
    text-shadow: 1px 1px black;
}

body#splash_body {
    background: #77918E;
    margin: 200px 60px 50px 60px;
    text-align: center;

    background-image: url(../images/logo_splash_background.png);
    background-position: center 110px;
    background-repeat: no-repeat;
    background-size: contain;
}

#splash_form {
    border: 1px black;
}


/****************** BASIC INPUT ELEMENT USING PSEUDO-CLASSES ******************/


input,
span,
     /*label,*/
textarea {
    font-family: 'Rajdhani', sans-serif;
    /*background-color: #77918E;*/
    border: #5e7777;
    color: #efe1b8;
    display: block;
    padding: 5px;
    border: none;
    /* font-size: 18px; */
    margin-left: auto;
    margin-right: auto;
}

textarea#finisher {
    color: #333333;
}

textarea:focus,
input:focus {
    outline: 0;
}

/* Question */

input.question,
textarea.question {
    font-size: 48px;
    font-weight: 300;
    /* border-radius: 2px; */
    margin: 0;
    border: none;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */

    /* Following lines center the logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Underline and Placeholder */

input.question + label,
textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 20px;
    width: 20%;
    border-top: 3px solid #ff7b0f;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0;
}

input.question:focus + label,
textarea.question:focus + label {
    width: 80%;
}

input.question:focus,
input.question:valid {
    padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
    margin-top: 35px;
}

/* When the text field is selected, this happens */
input.question:focus + label > span,
input.question:valid + label > span {
    top: -100px;
    font-size: 10px;
    color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
    top: -150px;
    font-size: 22px;
    color: #333;
}

/* input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
} */

input.question:invalid,
textarea.question:invalid {
    box-shadow: none;
}

/* When the input field isn't selected */
input.question + label > span,
textarea.question + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #E4E4BE;
    font-size: 20px;
    top: -66px;
    left: 0;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    padding: 10px;
    cursor: pointer;
    background: #ffaa0c;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"]:hover {
    background: #ffaa0c;
}

input[type="submit"]:active {
    background: #ffaa0c;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
    display: none;
}

@-webkit-keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}


/* Ice breaker specific styling */

  /* The entire rectangle */
  .inputGroup {
    display: inline-block;
    background-color: #77918E; 
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 10px 0 10px 0;
    /* margin: 10px 0;
    position: relative; */
}

/* Text in the unselected options */
.inputGroup label {
    padding: 12px 70px 12px 90px;
    width: 70%;
    white-space: normal;
    height: 100%;
    display: block;
    text-align: left;
    color: #efe1b8;
    cursor: pointer;
    position: relative;
    /* height of the ::before element has to be the same */
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    
}


/* The circular button, both selected & unselected */
.inputGroup label:before {
     /*margin: 20px 0 0 0; */
    width: 64px;
    height: inherit;
    content: "";
    border-right: 6px solid #ffaa0c;
    background-color: #ff7b0f;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    bottom:0;
    left:0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
    /* padding: 0 10px; */
    margin: 0 10px 0 0;
}

.inputGroup input:checked ~ label {
    color: #efe1b8;
}

/* .inputGroup input:checked ~ label:after {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
} */

/* The circular checkbox, selected */
.inputGroup input:checked ~ label:before {
    border-right: 6px solid #ffaa0c;
    background-color: #54E0C7;
}

/* Don't know how to describe this, but when removed the
   options look weird, and the default radio buttons are
   visible :S */
.inputGroup input {
    /* width: 32px;
    height: 32px; */
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.form {
    padding: 0 16px;
    max-width: 550px;
    margin: 50px auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* html {
  box-sizing: border-box;
} */

code {
    background-color: #9AA3AC;
    padding: 0 8px;
}

/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */


/* Q&A Submitting a new question */

.collapsible {
    background-color: transparent;
    color: #5e7777;
    cursor: pointer;
    padding: 18px;
    width: 65%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .active, .collapsible:hover {
    background-color: transparent; 
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
  }
  
  .collapsible:after {
    content: '\002B';
    width: 25px;
    height: 25px;
    bottom:0;
    /* left:0; */
    top: 50%;
    text-align:center;
    background-color: #ff7b0f;
    font-size: inherit;
    color: #ffaa0c;
    font-weight: bold;
    float: right;
    font-size: 20px;
    /* margin-left: 5px; */
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;
  }


  .submit {
    padding: 15px 15px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff7b0f;
    color: #efe1b8;
      width: 170px;

  }

